NODE_ENV=production
PORT=8080

DB_HOST=database
DB_PORT=3306
DB_NAME=bookstore
DB_USER=epicbook_user
DB_PASSWORD=replace_me

MYSQL_ROOT_PASSWORD=replace_me
MYSQL_DATABASE=bookstore
MYSQL_USER=epicbook_user
MYSQL_PASSWORD=replace_me
